@font-face {
    src: url(Fonts/Silkscreen/Silkscreen-Regular.ttf);
    font-family: Silkscreen-Regular;
}
@font-face {
    src: url(Fonts/Silkscreen/Silkscreen-Bold.ttf);
    font-family: Silkscreen-Bold;
}
@font-face {
    src: url(Fonts/Jersey_20/Jersey20-Regular.ttf);
    font-family: Jersey-20;
}
@font-face {
    src: url(Fonts/Jersey_25/Jersey25-Regular.ttf);
    font-family: Jersey-25;
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
}



/* START OF NAVIGATION HTML AND BODY STYLE */

    html{
        min-height: 100vh;
        min-width: 100vh;

        scroll-behavior: smooth;
    }

    body{
        font-family: Silkscreen-Regular;

        background-color: #503c7e;

        color: white;
        display: flow-root;
        overflow: auto;

        position: relative;

        margin: 0px;
        min-height: 100vh;
        min-width: 100vh;
    }

/* END OF NAVIGATION HTML AND BODY STYLE */



/* START OF NAVIGATION HEADER STYLE */

    .navHeader{
        background-color: #222034;

        position:static;
        
        margin-left:0;
        margin-bottom:0;
        margin-top: 0;

        text-align: center;

        height: 20%;
        overflow: hidden;
    }
    .navHeader > h1{
        margin: 1% 0 0.5% 2%;
        padding: 0;

        color: #ffd966;
        font-size: 8vh;
    }
    .navHeader > h2{
        margin: 0.5% 0 0 2%;
        padding:0% 0% 2% 0%;

        color: white;
        font-size: 5vh;
    }

/* END OF NAVIGATION HEADER STYLE */



/* START OF NAVIGATION BUTTONS STYLE */

    .navLinks
    {
        z-index: 2;
        right: 0;
        text-align: center;
        position: sticky;
        top: 0px;
        background-color: #222034;
        padding-bottom: 1%;
    }

    .navButton
    {
        background-image: url(Images/Button.png);
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0.7% 1% 1% 1%;
        margin: 0 0.7% 0 0.7%;

        min-width: 20%; 
        max-width: 20%;
        height: 5%;
        
        text-align: center;
        display: inline-block;

        font-size: 30px;
    }

    .navButton:hover
    {
        background-image: url(Images/ButtonHover.png);
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .navButton>a
    {
        padding: 0.7% 1% 1% 1%;
        margin: -0.7% -1% -1% -1%;;
        
        display: block;
        height: 100%;
        width: 100%;
        
        
        text-align: center;

        color: white;
        font-size: 3vh;
        text-decoration: none;
    }

    .navButton:active
    {
        background-image: url(Images/ButtonSelected.png);
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
    }

/* END OF NAVIGATION BUTTONS STYLE */



/* START OF PROJECT TYTLE(AND BUTTONS) STYLE */

    .projectTitle
    {
        background-color: rgba(34,32,52,0.8);

        position:static;
        margin: 0% 25% 0% 25%;
    
        width: 50%;
        height: 10%;
    
        text-align: center;

        color: white;
        font-size: 4vh;
    }
    .projectTitle > h1{
        margin: 0% 0 0% 0;
        margin: 0;
        color: #ffd966;
    }
    .projectTitle > h2{
        margin: 0;
        color: white;
    }

    .projLinks
    {
        right: 0;
        text-align: center;
    }

/* END OF PROJECT TYTLE(AND BUTTONS) STYLE */



/* START OF OVERVIEW VIDEO STYLE */

    .videoContainer
    {
        width: 85%;
        margin: 0% 7.5% 0% 7.5%;
        position: relative;
    }

    .overviewVideo
    {
        border: #ff00d9;
        border-width: 3px;
        border-style: solid;

        width: 100%;
        height: 0;

        padding-bottom: 56.25%;
        position: relative;
    }
    .overviewVideo >iframe
    {
        position: absolute;
        width: 100%;
        height: 100%;
    }

/* END OF PROJECT TYTLE(AND BUTTONS) STYLE */



/* START OF FLEXBOX UTILITIES*/

    .flexContainer
    {
        margin-left: 7.5%;
        margin-right: 7.5%;
        width: 85%;
        border: #ff00d9;
        border-width: 3px;
        border-style: solid;
    }

    .flexContainerDownload
    {
        width: 100%;
        padding: 0;
    }

    .flexBreak
    {
        flex-basis: 100;
        height: 5vh;
    }

    .flexBreakColumn
    {
        flex-basis: 100;
        width: 1vh;
    }

/* END OF FLEXBOX UTILITIES*/



/* START OF STATS STYLE */

    .stats
    {
        /*border: #222034;
        border-width: 3px;
        border-style: solid;*/

        display: flex;

        flex-direction: row;
        align-items:center;
        gap: 1%;

        font-size: clamp(1.33rem, 1.059rem + 1.35vw, 2.075rem);
        font-family: Jersey-25;
    }
    
    .statsText
    {
        /*border: #29a022;
        border-width: 3px;
        border-style: solid;*/
        width: 23.5%;
        max-width: 23.5%;

        padding-top: 0.5%;
        padding-bottom: 0.5%;

        align-self: stretch;
        align-content: center;

        text-align: center;
        background-color: rgba(34,32,52,0.8);
    }
    .statsText >img
    {
        height: clamp(3rem, 2.273rem + 3.64vw, 5rem);
        max-height: 100%;
    }

/* END OF STATS STYLE */



/* START OF OVERVIEW STYLE */

    .overview{
        border: #222034;
        border-width: 3px;
        border-style: solid;

        display: flex;
        /*position:static;
        margin-left: 7.5%;
        margin-right: 7.5%;*/

        font-size: clamp(1.33rem, 1.059rem + 1.35vw, 2.075rem);
        font-family: Jersey-25;
    }

    .overviewText
    {
        /*position: relative;*/
        text-align: center;
        background-color: rgba(34,32,52,0.8);
    }

/* END OF OVERVIEW STYLE */



/* START OF ANALYSIS STYLE */

    .analysis
    {
        border: #222034;
        border-width: 3px;
        border-style: solid;

        display: flex;
        flex-wrap: nowrap;

        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        gap: 2.5%;

        font-size: clamp(1.33rem, 1.059rem + 1.35vw, 2.075rem);
        font-family: Jersey-25;
    }

    .analysisText
    {
        border: #29a022;
        border-width: 3px;
        border-style: solid;
        max-width: 47.5%;

        text-align: center;
        background-color: rgba(34,32,52,0.8);
    }
    .analysisText >h1
    {
        /*border: #dbdb29;
        border-width: 3px;
        border-style: solid;*/

        font-size: clamp(2rem, 1.636rem + 1.82vw, 3rem);
        color: #ffd966;

        justify-self: center;
        width: 95%;

        margin-top: 0;
        margin-bottom: 0;
    }
    .analysisText >p
    {
        /*border: #dbdb29;
        border-width: 3px;
        border-style: solid;*/

        color: white;

        justify-self: center;
        width: 95%;

        margin-top: 0;
        margin-bottom: 0;
    }

    .analysisList
    {
        /*border: #dbdb29;
        border-width: 3px;
        border-style: solid;*/

        color: white;

        justify-self: center;
        width: 95%;

        margin-top: 0;
        margin-bottom: 0;
    }
    .analysisList >ul
    {
        /*border: #dbdb29;
        border-width: 3px;
        border-style: solid;*/

        list-style-type: square;
        width: 95%;
        justify-self: center;
        text-align: center;

        margin:0;
        padding: 0%,0%,0%,5%;
    }

    .analysisImageBoxRow
    {
        border: #ff0000;
        border-width: 3px;
        border-style: solid;
        
        max-width: 47.5%;
        display: flex;
        flex-direction: row;
    }

    .analysisImageBoxColumn
    {
        border: #ff0000;
        border-width: 3px;
        border-style: solid;
        
        max-width: 47.5%;
        display: flex;
        flex-direction: column;
    }

    .analysisImage
    {
        border: #a0601c;
        border-width: 3px;
        border-style: solid;
        
        max-width: 100%;
        display: flex;
    }

    .analysisImage >img
    {
        width: 100%;
        height: auto;
    }

/* END OF ANALYSIS STYLE */



/* START OF DOWNLOAD STYLE */

    .download
    {
        /*border: #222034;
        border-width: 3px;
        border-style: solid;*/

        display: flex;
        flex-wrap: nowrap;
        flex-shrink: 0;

        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 2.5%;

        font-size: 4vh;
    }

    .downloadNav
    {
        border: #29a022;
        border-width: 3px;
        border-style: solid;
        width: 20%;
        max-width: 20%;

        padding-top: 0.5%;
        padding-bottom: 0.5%;

        align-content: center;
        text-align: center;
        background-color: #222034;
    }
    .downloadNav:hover
    {
        background-color: #47436D;
        color: #ffd966;
    }
    .downloadNav:active
    {
        background-color: #ffd966;
    }

    .downloadNav > a
    {
        /*border: #29a022;
        border-width: 3px;
        border-style: solid;*/

        display: block;
        max-height: 100%;
        align-content: center;
    }

    .downloadButton
    {
        border: #29a022;
        border-width: 3px;
        border-style: solid;

        background-color: #41247d;
        width: 50%;
        max-width: 50%;

        padding-top: 0.5%;
        padding-bottom: 0.5%;

        align-content: center;
        text-align: center;
    }
    .downloadButton:hover
    {
        background-color: #6f42ca;
        color: #ffd966;
    }
    .downloadButton:active
    {
        background-color: #ffd966;
    }

    .downloadButton > a
    {
        /*border: #29a022;
        border-width: 3px;
        border-style: solid;*/
        display: block;
        height: 100%;
        align-content: center;
        padding: 0%,0%,0%,0%;
    }

/* END OF DOWNLOAD STYLE */



/* START OF FOOTER STYLE */

    .footer
    {
        border-style: solid;
        border-width: 0px;
        border-top-width: 3px;
        border-color: black;

        margin-top: 5vh;
        padding-top: 2%;
        padding-bottom: 2%;

        background-color: #222034;

        align-content: baseline;
        text-align: center;
        position: static;
        bottom: 0px;
        width: 100%;

        color: #ffd966;
        font-size: 4vh;
    }
    .footer >h1
    {
        margin: 0 0 0.5% 0%;
        padding: 0;
    }
    .footer >h2
    {
        margin: 0.5% 0 0.5% 0%;
        padding: 0;
        font-size: 4vh;
    }
    .footer >h2 >a:active
    {
        color: #ffd966;
        text-decoration: none;
    }

    .footerIconItch >img
    {
        height: 7.5vh;
        padding-left: 0.5%;
        padding-right: 0.5%;
        background-image: url(Images/Icon_Itch.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .footerIconItch:hover >img
    {
        background-image: url(Images/Icon_ItchHover.png);
    }

    .footerIconLinkedIn >img
    {
        height: 7.5vh;
        padding-left: 0.5%;
        padding-right: 0.5%;
        background-image: url(Images/Icon_LinkedIn.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .footerIconLinkedIn:hover >img
    {
        background-image: url(Images/Icon_LinkedInHover.png);
    }

/* END OF FOOTER STYLE */



/* START OF PORTFOLIO STYLE */

    .portfolio
    {
        border: #222034;
        border-width: 3px;
        border-style: solid;

        display: flex;
        flex-wrap: nowrap;

        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        gap: 2.5%;

        font-size: clamp(1.33rem, 1.059rem + 1.35vw, 2.075rem);
    }

    .portfolioA
    {
        border: #ff0099;
        border-width: 3px;
        border-style: solid;
    }

    .portfolioText
    {
        border: #29a022;
        border-width: 3px;
        border-style: solid;
        max-width: 100%;

        text-align: center;
        background-color: rgba(34,32,52,0.8);
    }
    .portfolioText >.portfolioA
    {
        max-width: 100%;
        display: block;
        height: auto;
    }
    .portfolioText >.portfolioA>h1
    {
        color: #ffd966;
        margin-top: 2.5%;
        margin-bottom: 1.25%;
        font-size: clamp(1.33rem, 1.059rem + 1.35vw, 2.075rem);
    }
    .portfolioText >.portfolioA>h2
    {
        margin-top: 1.25%;
        margin-bottom: 2.5%;
        font-size: clamp(1.33rem, 1.248rem + 0.41vw, 1.556rem);
    }
    .portfolioImage:hover ~ .portfolioText
    {
        background-color: rgb(255,217,102,1);
    }
    .portfolioImage:hover ~ .portfolioText >.portfolioA>h1
    {
        color: white;
    }
    .portfolioText:has(.portfolioA:hover)
    {
        background-color: rgba(255,217,102,1);
    }
    .portfolioText:has(.portfolioA:hover) .portfolioA>h1
    {
        color: white;
    }
    .portfolioText:has(.portfolioA:hover) .portfolioA>h2
    {
        color: white;
    }

    .portfolioBox
    {
        border: #a0601c;
        border-width: 3px;
        border-style: solid;
        
        flex-direction: column;
        align-self: flex-start;
        width: 30%;
        max-width: 30%;
        display: flex;
    }


    .portfolioImage
    {
        border: #1c8aa0;
        border-width: 3px;
        border-style: solid;
        
        max-width: 100%;
        display: flex;
    }
    .portfolioImage >.portfolioA>img
    {
        /*border: #1ca088;
        border-width: 3px;
        border-style: solid;*/

        display: flex;
        max-width: 100%;
        height: auto;
    }

/* END OF PORTFOLIO STYLE */



/* START OF GENERIC LINKS AND BUTTONS STYLE */

    button{
        background-image: url(Images/Button.png);
        background-size: contain;
        font-size: 90%;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        color: aqua;
        
        display: inline-block;
    }

    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: #ffd966;;
        text-decoration: none;
    }
    a:active{
        color: white;
        text-decoration: none;
    }

/* END OF GENERIC LINKS AND BUTTONS STYLE */

/* START OF QUICK TEXT FORMATTING */
    .yellowText
    {
        color: #ffd966;
    }
/* END OF QUICK TEXT FORMATTING */