@font-face {
    src: url(Fonts/Silkscreen/Silkscreen-Regular.ttf);
    font-family: Silkscreen-Regular;
}
@font-face {
    src: url(Fonts/Silkscreen/Silkscreen-Bold.ttf);
    font-family: Silkscreen-Bold;
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
}



/* START OF NAVIGATION HTML AND BODY STYLE */

    html{
        min-height: 100vh;
        min-width: 100vh;

        scroll-behavior: smooth;
    }

    body{
        font-family: Silkscreen-Regular;

        background-color: #503c7e;

        color: white;
        display: flow-root;
        overflow: auto;

        margin: 0px;
        min-height: 100vh;
        min-width: 100vh;
    }

/* END OF NAVIGATION HTML AND BODY STYLE */



/* START OF NAVIGATION HEADER STYLE */

    .navHeader{
        background-color: #222034;

        position:static;
        
        margin-left:0;
        margin-bottom:0;
        margin-top: 0;

        text-align: center;

        height: 20%;
        overflow: hidden;
    }
    .navHeader > h1{
        margin: 1% 0 0.5% 2%;
        padding: 0;

        color: #ffd966;
        font-size: 8vh;
    }
    .navHeader > h2{
        margin: 0.5% 0 0 2%;
        padding:0% 0% 2% 0%;

        color: white;
        font-size: 5vh;
    }

/* END OF NAVIGATION HEADER STYLE */



/* START OF NAVIGATION BUTTONS STYLE */

    .navLinks
    {
        z-index: 2;
        right: 0;
        text-align: center;
        position: sticky;
        top: 0px;
        background-color: #222034;
    }

    .navButton
    {
        padding: 0.7% 1% 1% 1%;
        margin: 0 0.7% 0 0.7%;

        min-width: 20%; 
        max-width: 20%;
        height: 5%;
        
        text-align: center;
        display: inline-block;

        background-color: blue;

        font-size: 30px;
    }

    .navButton:hover
    {
        background-color: rgb(80, 80, 255);
        color: yellow;
    }

    .navButton>a
    {
        padding: 0;
        margin: 0 0 1.5% 0;
        
        display: block;
        height: 100%;
        width: 100%;
        
        
        text-align: center;

        color: white;
        font-size: 3vh;
        text-decoration: none;
    }

    .navButton:active
    {
        background-color: aqua;
        color: fuchsia;
    }

/* END OF NAVIGATION BUTTONS STYLE */



/* START OF PROJECT TYTLE(AND BUTTONS) STYLE */

    .projectTitle
    {
        background-color: rgba(34,32,52,0.8);

        position:static;
        margin: 0% 25% 0% 25%;
    
        width: 50%;
        height: 10%;
    
        text-align: center;

        color: white;
        font-size: 4vh;
    }
    .projectTitle > h1{
        margin: 0% 0 0% 0;
        margin: 0;
        color: #ffd966;
    }
    .projectTitle > h2{
        margin: 0;
        color: white;
    }

    .projLinks
    {
        right: 0;
        text-align: center;
    }

/* END OF PROJECT TYTLE(AND BUTTONS) STYLE */



/* START OF OVERVIEW VIDEO STYLE */

    .overviewVideo
    {
        border: #ff00d9;
        border-width: 3px;
        border-style: solid;

        margin: 0% 7.5% 0% 7.5%;
        max-width: 85%;
        display: flex;
        position: relative;
        padding-bottom: 56.25%;
    }
    .overviewVideo >iframe
    {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
    }

/* END OF PROJECT TYTLE(AND BUTTONS) STYLE */



/* START OF FLEXBOX UTILITIES*/

    .flexContainer
    {
        margin-left: 7.5%;
        margin-right: 7.5%;
        width: 85%;
        border: #ff00d9;
        border-width: 3px;
        border-style: solid;
    }

    .flexBreak
    {
        flex-basis: 100;
        height: 5vh;
    }

    .flexBreakColumn{
    flex-basis: 100%;
    width: 5vh;
    }

/* END OF FLEXBOX UTILITIES*/



/* START OF OVERVIEW STYLE */

    .overview{
        border: #222034;
        border-width: 3px;
        border-style: solid;

        display: flex;
        /*position:static;
        margin-left: 7.5%;
        margin-right: 7.5%;*/

        font-size: 4vh;
    }

    .overviewText
    {
        /*position: relative;*/
        text-align: center;
        background-color: rgba(34,32,52,0.8);
    }

/* END OF OVERVIEW STYLE */



/* START OF ANALYSIS STYLE */

    .analysis
    {
        border: #222034;
        border-width: 3px;
        border-style: solid;

        display: flex;
        flex-wrap: nowrap;

        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        gap: 2.5%;

        font-size: 4vh;
    }

    .analysisText
    {
        border: #29a022;
        border-width: 3px;
        border-style: solid;
        max-width: 47.5%;

        text-align: center;
        background-color: rgba(34,32,52,0.8);
    }

    .analysisImage
    {
        border: #a0601c;
        border-width: 3px;
        border-style: solid;
        
        max-width: 47.5%;
        display: flex;
    }

    .analysisImage >img
    {
        width: 100%;
        height: auto;
    }

/* END OF ANALYSIS STYLE */



/* START OF FOOTER STYLE */

    .footer{
        border-style: solid;
        border-width: 0px;
        border-top-width: 3px;
        border-color: black;

        margin-top: 10%;

        align-content: baseline;
        text-align: center;
        position: static;
        bottom: 0px;
        width: 100%;
        color: rgb(0,0,255)
    }

/* END OF FOOTER STYLE */



/* START OF GENERIC LINKS AND BUTTONS STYLE */

    button{
        font-size: 90%;
        background-color: fuchsia;
        color: aqua;
        border-radius: 25px;
        
        width: 10%;
        height: 5%;

        display: inline-block;
    }

    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: yellow;
        text-decoration: none;
    }
    a:active{
        color: fuchsia;
        text-decoration: none;
    }

/* END OF GENERIC LINKS AND BUTTONS STYLE */



p.username{
    font-weight: bold;
}

em{
    color: hsl(280, 31%, 42%);
    font-style: normal;
}

strong{
    color: #0000ff;
    font-style: italic;
}